@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.125rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.125rem;
  --background: oklch(0.9674 0.0013 286.3752);
  --foreground: oklch(0.3136 0.0461 290.5339);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3136 0.0461 290.5339);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3136 0.0461 290.5339);
  --primary: oklch(0.3136 0.0461 290.5339);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.5132 0.0804 68.8445);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9283 0.0013 286.3739);
  --muted-foreground: oklch(0.4588 0.0101 225.2484);
  --accent: oklch(0.4588 0.0101 225.2484);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5770 0.2450 27.3250);
  --border: oklch(0.8702 0.0014 286.3717);
  --input: oklch(0.8702 0.0014 286.3717);
  --ring: oklch(0.5132 0.0804 68.8445);
  --chart-1: oklch(0.9674 0.0013 286.3752);
  --chart-2: oklch(0.9283 0.0013 286.3739);
  --chart-3: oklch(0.8828 0.0027 286.3441);
  --chart-4: oklch(0.8306 0.0041 286.3094);
  --chart-5: oklch(0.7775 0.0056 286.2685);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.3136 0.0461 290.5339);
  --sidebar-primary: oklch(0.3136 0.0461 290.5339);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5132 0.0804 68.8445);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.8702 0.0014 286.3717);
  --sidebar-ring: oklch(0.5132 0.0804 68.8445);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2191 0.0058 285.9113);
  --foreground: oklch(0.9674 0.0013 286.3752);
  --card: oklch(0.2578 0.0074 285.8672);
  --card-foreground: oklch(0.9674 0.0013 286.3752);
  --popover: oklch(0.2578 0.0074 285.8672);
  --popover-foreground: oklch(0.9674 0.0013 286.3752);
  --primary: oklch(0.5132 0.0804 68.8445);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3136 0.0461 290.5339);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.2911 0.0090 285.8267);
  --muted-foreground: oklch(0.7993 0.0042 286.3049);
  --accent: oklch(0.4588 0.0101 225.2484);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.7040 0.1910 22.2160);
  --border: oklch(0.3511 0.0120 285.7632);
  --input: oklch(0.3511 0.0120 285.7632);
  --ring: oklch(0.5132 0.0804 68.8445);
  --chart-1: oklch(0.2578 0.0074 285.8672);
  --chart-2: oklch(0.2911 0.0090 285.8267);
  --chart-3: oklch(0.3313 0.0105 285.8145);
  --chart-4: oklch(0.3741 0.0118 285.8131);
  --chart-5: oklch(0.4158 0.0132 285.8122);
  --sidebar: oklch(0.2410 0.0076 285.8190);
  --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
  --sidebar-primary: oklch(0.5132 0.0804 68.8445);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3136 0.0461 290.5339);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3511 0.0120 285.7632);
  --sidebar-ring: oklch(0.5132 0.0804 68.8445);
  --destructive-foreground: oklch(0.9850 0 0);
  --radius: 0.125rem;
  --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}